*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 760px;
    background-color: black;
}
header {
    width: 100%;
    height: 100px;
    background-color: rgba(43, 37, 85, 0.664);
}
.logo {
    width: 20%;
    height: 100px;
    background-image: url(../imgs/logo.png);
    float: left;
}
.menu {
    width: 80%;
    height: 100px;
    float: left;
}
.menu ul {
     display: flex;
     flex-direction: row;
     justify-content: end;
}
.menu ul li {
    list-style: none;
}
.menu ul li a{
    display: block;
    padding: 30px;
    text-decoration: none;
    font-family: "Kavoon", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: white;
}
.menu ul li a:hover {
    color: rgb(20, 243, 20);
}
.body{
    width: 100%;
    height: 500px;
}
.body h1{
    color: white;
    text-align: center;
    margin-top: 30px;
}
.form-box{
    width: 90%;
    height: 400px;
    background-color: rgba(145, 140, 140, 0.329);
    margin: auto;
    border-radius: 10px;
}
.form-box h2{
    color: white;
    margin-left:65px;
    padding: 20px;
}
.form-box input {
    width: 90%;
    padding: 20px 5px;
    margin-left: 65px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.form-box input[type=submit]{
    width: 90%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-left: 65px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 50px;
}
.form-box input[type=submit]:hover{
    background-color: coral;
}
footer {
    width: 100%;
    height: 100px;
    background-color: rgba(43, 37, 85, 0.664);
    margin-top: 30px;
}
.boxlogo {
    width: 20%;
    height: 100px;
    background-image: url(../imgs/logo.png);
    float: left;
}
.icon {
    float: left;
    margin-left: 30px;
    margin-top: 30px;
}
.icon a{
    color: white;
    font-size: 30px;
    text-decoration: none;
}
.icon h2 {
    font-size: 30px;
    color: white;
}